<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Ablauf / Programm</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Start <small>Sonntag, 30.08.2015, 10.00 Uhr</h3>
				</div>
				<div class="panel-body">
					<p>Die Startunterlagen (inkl. Karte der Wegepunkte, Notfallnummer) werden ab 9.00 Uhr herausgegeben (Bistro Besucherbergwerk). Um 9.30 Uhr erfolgt eine kurze Besprechung, danach gehen die Starter zum Parkplatz.</p>
					<p>Der Start erfolgt um 10.00 Uhr auf dem Besucherparkplatz des Besucherbergwerkes Fell (siehe <a href="/anfahrt.html">Anfahrt</a>. Dort befinden sich auch Parkmöglichkeite.</p>
					<a class="fancybox" href="/images/map.jpg">
						<img class="img-responsive" src="/images/map.jpg"/>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<a class="fancybox thumbnail" href="/images/panorama_min_1.jpg">
				<img class="img-responsive" src="/images/thumbs/panorama_1_thumb.jpg"/>
			</a>
			<a class="fancybox thumbnail" href="/images/panorama_min_2.jpg">
				<img class="img-responsive" src="/images/thumbs/panorama_2_thumb.jpg"/>
			</a>
		</div>		
	</div>
</div>

<script>
  enable_top_menu('ablauf');
  $(".fancybox").fancybox();
</script>