<div class="bs-docs-header" id="content">
  <div class="container">
    <h1><span class="glyphicon glyphicon-calendar"></span> Ablauf / Programm</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Start <small>Sonntag, 30.08.2015, 10.00 Uhr</h3>
				</div>
				<div class="panel-body">
					<p>Die Startunterlagen (inkl. Karte der Wegepunkte, Notfallnummer) werden ab 9.00 Uhr herausgegeben (Bistro Besucherbergwerk). Um 9.30 Uhr erfolgt eine kurze Besprechung, danach gehen die Starter zum Parkplatz.</p>
					<p>Der Start erfolgt um 10.00 Uhr auf dem Besucherparkplatz des Besucherbergwerkes Fell (siehe <a href="/anfahrt.html">Anfahrt</a>). Dort befinden sich auch Parkmöglichkeiten.</p>
					Zeitplan:
					<ul>
						<li>9:00 Uhr Herausgabe der Startunterlagen / Anmeldung</li>
						<li>9:45 Uhr Teambesprechung</li>
						<li>10:30 Uhr Start
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<a class="fancybox thumbnail" href="/images/panorama_min_1.jpg">
				<img class="img-responsive" src="/images/thumbs/panorama_1_thumb.jpg"/>
			</a>
			<a class="fancybox thumbnail" href="/images/panorama_min_2.jpg">
				<img class="img-responsive" src="/images/thumbs/panorama_2_thumb.jpg"/>
			</a>
		</div>		
	</div>
</div>

<script>
  enable_top_menu('ablauf');
</script>