<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Anmeldung</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Anmeldung</h3>
				</div>
				<div class="panel-body">
					Die Anmeldung erfolgt über eine Email an <a href="mailto:schnitzeljagd@bergwerk-fell.de">schnitzeljagd@bergwerk-fell.de</a>. Dabei bitte folgende Angaben in die Mail aufnehmen:
					<ul>
						<li>Vorname / Name</li>
						<li>Geburtsdatum</li>
						<li>Adresse (Postleitzahl, Ort)</li>
						<li>Email-Adresse</li>
					</ul>
					Die Anmeldung wird erst gültig, nach dem die Startgebühr überwiesen wurde. Wir werden daraufhin eine Email mit der Anmeldebestätigung versenden.
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Startgebühr</h3>
				</div>
				<div class="panel-body">
					Die Startgebühr beträgt <b>pro Teammitglied 5 Euro</b>. Bitte überweise den Betrag auf das Konto 1234567 bei der Spasskatze Trier, BLZ 123123123. Wichtig: als Referenz bitte die Mail-Adresse der Registrierung und das Geburtsdatum angeben, damit wir den Zahlungseingang zuordnen können!
				</div>
			</div>
		</div>
	</div>
</div>

<script>
  enable_top_menu('anmeldung');
</script>