<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Anmeldung</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Anmeldung</h3>
				</div>
				<div class="panel-body">
					<p>Die Anmeldung erfolgt über das folgende Formular:</p>
					<form action="mailto:rolle@rolandschmitt.info" class="form-horizontal" role="form">
						<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Vorname</label>
					    	<div class="col-sm-10">
					      		<input  class="form-control" id="firstname" placeholder="">
					    	</div>
				  		</div>
						<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Name</label>
					    	<div class="col-sm-10">
					      		<input  class="form-control" id="lastname" placeholder="">
					    	</div>
				  		</div>				  		
					  	<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Geburtsdatum</label>
					    	<div class="col-sm-10">
					      		<input  class="form-control" id="birthdate" placeholder="">
					    	</div>
				  		</div>
				  		<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Strasse</label>
					    	<div class="col-sm-10">
					      		<input  class="form-control" id="street" placeholder="">
					    	</div>
				  		</div>
				  		<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Hausnummer</label>
					    	<div class="col-sm-10">
					      		<input  class="form-control" id="number" placeholder="">
					    	</div>
				  		</div>
						<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Postleitzahl</label>
					    	<div class="col-sm-10">
					      		<input  class="form-control" id="postcode" placeholder="">
					    	</div>
				  		</div>
				  		<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Ort</label>
					    	<div class="col-sm-10">
					      		<input  class="form-control" id="town" placeholder="">
					    	</div>
				  		</div>
				  		<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">EMail-Adresse</label>
					    	<div class="col-sm-10">
					      		<input  type="email" class="form-control" id="email" placeholder="">
					    	</div>
				  		</div>
				  		<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Name des Teams</label>
					    	<div class="col-sm-10">
					      		<input  class="form-control" id="teamname" placeholder="">
					    	</div>
				  		</div>
				  		<div class="form-group">
					    	<label for="inputEmail3" class="col-sm-2 control-label">Namen der Teammitglieder</label>
					    	<div class="col-sm-10">
					      		<input  class="form-control" id="member" placeholder="">
					    	</div>
				  		</div>
					  	<div class="form-group">
					    	<div class="col-sm-offset-2 col-sm-10">
					      		<button type="submit" class="btn btn-primary">Anmelden</button>
					    	</div>
					  	</div>
					</form>
					Die Anmeldung wird erst gültig, nachdem die Startgebühr überwiesen wurde. Wir werden daraufhin eine Email mit der Anmeldebestätigung versenden.
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Startgebühr</h3>
				</div>
				<div class="panel-body">
					<p>Die Startgebühr beträgt <b>pro Teammitglied 10 Euro</b>. Bitte überweist den entsprechenden Gesamtbetrag für euer Team auf das Konto 1234567 bei der Spasskatze Trier, BLZ 123123123. Wichtig: als Referenz bitte die Mail-Adresse der Registrierung und den Teamnamen angeben, damit wir den Zahlungseingang zuordnen können!</p>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">

				</div>
			</div>
		</div>
	</div>
</div>

<script>
  enable_top_menu('anmeldung');
</script>