<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Danke!</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Vielen Dank für deinen Beitrag!</p>

					<p>Wir werden uns drum kümmern und uns gegebenenfalls bei dir melden.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
  enable_top_menu('kontakt');
</script>