<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Event</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="page-header">
				<h1>Termine</h1>
			</div>
			<p>
				Start ist um 10.00 Uhr auf dem Parkplatz der Besucherbergwerkes Fell.
			</p>
			<ul>
			<li>Gestartet wird im Le Mans Modus.</li>
			<li>Die Fahrräder werden in der Reihenfolge des Eintreffens der Teilnehmer aufgestellt.</li>
			<li>Startnummern wird es nicht geben.</li>
			</ul>
		</div>
	</div>
</div>

<script>
  enable_top_menu('index');
</script>