<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Kontakt</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Fragen und Anregungen könnt ihr loswerden unter <a href="mailto:schnitzeljagd@bergwerk-fell.de">schnitzeljagd@bergwerk-fell.de</a></p>

					<p>Während der Veranstaltung ist die Telefonnummer 012/1234567 besetzt, falls sich jemand verfahren hat, es Fragen zu Stationen gibt oder das Flickzeug ausgegangen sein sollte. </p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
  enable_top_menu('kontakt');
</script>