<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Strecke</h1>
  </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<h3>Strecke</h3>
			Da die Strecke individuell geplant wird, variiert auch die Streckenlänge und damit die zu fahrenden Höhenmeter. Als grober Anhaltspunkt sind ca. 40-45km mit rund 1000Hm zu erwarten.<br/>
			Die Stationen werden sich alle innerhalb des unten abgebildeten Kartenabschnitt befinden. Sie werden nicht separat ausgeschildert, aber in der vor dem Start verteilten Übersichtskarte genau beschrieben. Als Stationen können z.B. Grillhütten, Lokale oder Wegekreuze dienen.
			<img src="/images/map.jpg"/>
			<h3>Streckenplanung</h3>
			Die Streckenplanung liegt in der Hand der Teilnehmer! Rechtsrum? Oder lieber links? Wichtig ist nur, das alle Stationen angefahren werden. Dabei wird man unterwegs anderen Teilnehmern begegnen, die eventuell eine andere Strecke abfahren.
		</div>
	</div>
</div>

<script>
  enable_top_menu('strecke');
</script>